:root {
    font-family: "Poppins", sans-serif;
    --color-black: #0d0221;
    --color-white: #ebebeb;
    --color-gray: #cdc6da;
    --color-blue: #6461a0;
    --color-purple: #321d59;
    --color-red: #d81159;
}


.fa-image {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    color: var(--color-white);
    font-size: 30px;

}


.fa-arrow-left:hover,
.fa-image:hover {
    color: var(--color-red);
    cursor: pointer;
}

.goback{
    color: var(--color-white)
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: var(--color-white);
}

.posttext {
    color: var(--color-white);
    font-size: 25px;
    margin-bottom: 2rem;
    align-items: center;
    font-weight: bold;
    align-self: flex-start;
}
.createpost {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-height: 100vh;
}

.posttext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.postp{
    margin-left:1rem;
}

.imageselect {
    display: none;
}


.postform {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.postimage{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.posttitle,
.posturl,
.postcontentcl {
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    background-color: var(--color-purple);
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 22px;
    text-align: left;
}

.posttitle::placeholder,
.posturl::placeholder,
.postcontentcl::placeholder {
    color: var(--color-gray);
}

.postcontentcl {
    resize: none;
}

.postbutton {
    color: var(--color-white);
    background-color: var(--color-red);
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 0.8rem;
    font-size: 20px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    align-self: flex-end
}


@media only screen and (min-width: 830px) {

    .posttitle,
    .posturl
     {
        width: 25rem;
        height: 2rem;
    }
    .postcontentcl{
        width: 25rem;
        height: 10rem;
    }
}

@media only screen and (max-width: 830px) {

    .posttitle,
    .posturl
     {
        width: 18rem;
        height: 2rem;
    }
    .postcontentcl{
        width: 18rem;
        height: 10rem;
    }
}