header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--color-black);
}

header > a > .fa-arrow-left {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  cursor: pointer;
  margin-right: 2rem;
}

.profilewindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.profilename {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-weight: bold;
}

.tagname {
  color: var(--color-gray);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileimage {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}

.description {
  text-align: center;
  font-size: 1rem;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
  overflow-x: scroll;
}

.tags > li {
  list-style: none;
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: var(--color-blue);
  border-radius: 0.5rem;
  color: var(--color-white);
}

.tags > li > p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

button#subscribebuttonid {
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.subscribed > .subscribespan {
  display: none;
}

.subscribed {
  background-color: var(--color-blue);
}

.notsubscribed > .unsubscribespan {
  display: none;
}

.notsubscribed {
  background-color: var(--color-red);
}

.infos {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.infos > li:not(:last-child) {
  margin-right: 1rem;
}

.infos span {
  font-weight: bold;
}

@media only screen and (min-width: 650px) {
  .description,
  .tags {
    width: 25rem;
  }

  .profilename {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 650px) {
  .profilename {
    font-size: 1.5rem;
  }

  .description,
  .tags {
    max-width: 22rem;
  }
}
