.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.emaillabel,
.passwordlabel,
.loginlabel {
  display: none;
}

.emaillg:focus,
.passwordlg:focus {
  border: 1px solid var(--color-blue);
  outline: none;
}

.signintext:hover {
  color: var(--color-white);
  text-decoration: none;
}

.signintext {
  color: var(--color-red);
  font-weight: bold;
  text-decoration: none;
}

.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donthaveaccount {
  font-size: 20px;
  text-align: center;
  margin-top: 15rem;
}

.textaccount {
  color: var(--color-white);
}

.logintext {
  color: var(--color-white);
  font-size: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  align-self: flex-start;
}

.emaillg,
.passwordlg {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  background-color: var(--color-purple);
  border: 1px solid var(--color-white);
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 22px;
  text-align: left;
}

.loginbutton {
  color: var(--color-white);
  background-color: var(--color-red);
  margin-bottom: 1rem;
  border: 0px;
  border-radius: 0.8rem;
  font-size: 20px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.loginbutton:hover {
  background-color: var(--color-blue);
}

.passworderrorlg{
    visibility: hidden;
    color: var(--color-red);
    font-size: 14px;
}

@media only screen and (min-width: 830px) {
  .emaillg,
  .passwordlg {
    width: 22rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 830px) {
  .emaillg,
  .passwordlg {
    padding: 1rem 2rem;
    padding-right: 3rem;
    width: 16rem;
  }
}
