.svg-inline--fa:hover {
  color: var(--color-red);
  cursor: pointer;
}

/*Post - global*/

.post {
  background-color: var(--color-purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem;
}

.poster {
  display: flex;
  text-align: left;
  flex-direction: row;
  align-items: center;
}

#profileimg {
  border-radius: 50%;
  width: 3rem;
  height: auto;
}

.user-tag {
  display: flex;
  align-items: left;
}

.username {
  font-weight: bold;
}

p {
  text-align: left;
}

.interactions-plus-comments {
  display: flex;
  flex-direction: row;
  align-items: left;
}

/* Comments - global*/

.comment-interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#username-post {
  padding-left: 1rem;
}

#postimg {
  width: 97%;
  height: 97%;
  border-radius: 2rem;
  align-self: center;
}

.post-interactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  height: 2rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  padding: 0.5rem;
}

#save {
  width: 2rem;
  height: auto;
}

.comments-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 2rem;
  margin-left: 1rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  padding: 0.5rem;
}

.comment {
  text-align: left;
  background-color: var(--color-purple);
  border-radius: 2rem;
  max-width: 32rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding: 1rem;
}

#reply {
  margin-left: 1rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.post-and-comments {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 650px) {
  body {
    margin: 0;
    padding: 0;
  }

  .post {
    min-width: 30rem;
    max-width: 30rem;
    margin: 2rem;
  }

  .fa-caret-down,
  .fa-caret-up {
    padding-right: 0;
  }

  .post-and-comments {
    flex-direction: row;
  }
}

@media only screen and (max-width: 650px) {
  .post {
    margin: 2rem;
    min-width: 20rem;
    max-width: 20rem;
  }

  .post-and-comments {
    flex-direction: column;
  }
}
