header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: bold;
}

header > a > .fa-arrow-left {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  cursor: pointer;
}

h1 {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: bold;
}

main {
  align-items: start;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-red);
  margin: 0 0 0 2rem;
}

.settings {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.settings label {
  font-size: 1.2rem;
  font-weight: regular;
  color: var(--color-white);
  margin-top: 1rem;
}

.submit {
  margin-top: 2rem;
  padding: 0.5rem !important;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 0.7rem !important;
  border: none !important;
  cursor: pointer;
  align-self: end;
}

.settings input {
  padding: 1rem;
  border: 1px solid var(--color-blue);
  border-radius: 1rem;
}
