:root {
  font-family: "Poppins", sans-serif;
  --color-black: #0d0221;
  --color-white: #ebebeb;
  --color-gray: #cdc6da;
  --color-blue: #6461a0;
  --color-purple: #321d59;
  --color-red: #d81159;
}

.pr-name {
  font-weight: bold;
}

.follows-list,
.sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fl-label,
.sub-label {
  color: var(--color-gray);
}

.fl-mainname,
.sub-mainname {
  color: var(--color-white);
}

.fl-name,
.sub-name {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1rem;
}

.small-text {
  color: var(--color-gray);
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

@media only screen and (min-width: 1000px) {

  .sidemenu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 7rem;
    position: absolute;
    align-items:start;
    margin-left: 1.5rem;
  }

  .fl-name,
  .sub-name {
    margin-left: 1rem;
  }

  header>a>img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .follows img,
  .subscriptions img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  .follows a {
    display: flex;
    color: var(--color-white);
  }

  .follows-list>li>a,
  .sub-list>li>a {
    display: flex;
    align-items: center;
  }

  .subscriptions {
    color: var(--color-gray);
  }
}

@media only screen and (max-width: 600px) {
  
  .sidemenu {
    padding: 0;
    display: none;
    flex-direction: column;
    position: relative;
    align-items:initial;
    background-color: var(--color-blue);
    bottom: 21rem;
    width: 90%;
    height: 100%;
  }

  .fl-name,
  .sub-name {
    display: flex;
    flex-direction: column;
  }

  .fl-name,
  .sub-name {
    margin-left: 1rem;
  }

  .border {
    border-bottom: 0.2rem solid var(--color-purple);
  }

  header>a>img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .follows img,
  .subscriptions img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }


  .follows-list>li>a,
  .sub-list>li>a {
    display: flex;
    align-items: center;
  }


  .subscriptions, .follows {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items:start;
    width: 100%;
    height: 100%;
  }
}

