.pr-name {
  font-weight: bold;
}

.follows-list,
.sub-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fl-label,
.sub-label {
  color: var(--color-gray);
  margin-top: 0;
}

.fl-mainname,
.sub-mainname {
  color: var(--color-white);
}

.fl-name,
.sub-name {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.small-text {
  color: var(--color-white);
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.follows-list img,
.sub-list img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

@media only screen and (min-width: 830px) {
  .sidemenu {
    flex-direction: column;
    top: 7rem;
    position: fixed;
    align-items: start;
    margin: 1rem;
  }

  #profile {
    display: none;
  }

  .fl-name,
  .sub-name {
    margin-left: 1rem;
  }

  .follows-list > li > a,
  .sub-list > li > a {
    color: var(--color-white);
    display: flex;
    align-items: center;
  }

  .border {
    display: none;
  }

  .sub-label {
    margin-top: 1rem;
  }

  .follows-list > li,
  .sub-list > li {
    margin-bottom: 1rem;
  }

  hr {
    display: none;
  }
}

@media only screen and (max-width: 830px) {
  hr {
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    width: 80%;
    margin: 1rem 1rem 0 1rem;
  }

  .fl-name,
  .sub-name {
    display: flex;
    flex-direction: column;
  }

  .fl-name,
  .sub-name {
    margin-left: 1rem;
  }

  .follows-list > li > a,
  .sub-list > li > a {
    display: flex;
    align-items: center;
  }

  .sub-list,
  .follows-list {
    margin: 2rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
  }

  .sub-list > li:not(:first-child),
  .follows-list > li:not(:first-child) {
    margin-bottom: 1rem;
  }

  .name-mobile {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: end;
    color: var(--color-white);
  }

  span#name {
    font-weight: bold;
    margin-bottom: 0;
  }

  span#tag {
    font-weight: normal;
    margin-top: 0;
  }

  .profile-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-radius: 100%;
    margin-top: 0.5rem;
  }

  button#close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 1rem;
  }

  .profile-mobile > img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
  }
}
