header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: var(--color-black);
}

main {
  padding: 2rem;
}

header > a > .fa-arrow-left {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  cursor: pointer;
  margin-right: 2rem;
}

.profilewindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}

.profilename {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-weight: bold;
}

.tagname {
  color: var(--color-gray);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileimage {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}

.description {
  text-align: center;
  font-size: 1rem;
}

.followbutton {
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.followed > .followspan {
  display: none;
}

.followed {
  background-color: var(--color-blue);
}

.notfollowed > .unfollowspan {
  display: none;
}

.notfollowed {
  background-color: var(--color-red);
}

@media only screen and (min-width: 650px) {
  .description {
    width: 25rem;
  }

  .pr-name {
    font-size: 1.8rem;
  }

  .tagname {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .pr-name {
    font-size: 1.5rem;
  }

  .tagname {
    font-size: 1.2rem;
  }

  .description {
    max-width: 22rem;
  }
}
