header {
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: bold;
}

header>a>.fa-arrow-left {
  width: 2rem;
  height: 2rem;
  color: var(--color-white);
  cursor: pointer;
}

.profilewindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilename {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-weight: bold;
}

.tagname {
  color: var(--color-gray);
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileimage {
  width: 4.2rem;
  margin-right: 2rem;
  border-radius: 50%;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem 2rem;
}

.description {
  text-align: center;
  font-size: 1rem;
}

.followbutton {
  /* col js se premuto: 
  background-color: var(--color-blue); */
  border: 0px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  font-weight: bold;
  margin-top: 1rem;
}

.followed > .followspan{
  display: none;
}

.followed{
  background-color: var(--color-blue);
}

.notfollowed > .unfollowspan{
  display: none;
}

.notfollowed{
  background-color: var(--color-red);
}



@media only screen and (min-width: 650px) {
  header {
    justify-content: end;
  }

  .description {
    width: 25rem;
  }

  .pr-name {
    font-size: 1.8rem;
  }

  .tagname {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 650px) {
  header {
    justify-content: start;
  }

  .pr-name {
    font-size: 1.5rem;
  }

  .tagname {
    font-size: 1.2rem;
  }

  .description {
    max-width: 22rem;
  }
}