:root {
    font-family: "Poppins", sans-serif;
    --color-black: #0d0221;
    --color-white: #ebebeb;
    --color-gray: #cdc6da;
    --color-blue: #6461a0;
    --color-purple: #321d59;
    --color-red: #d81159;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: var(--color-white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svg-inline--fa {
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-blue);
}

.signin {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    min-height: 100vh;
}

.namelabel,
.usernamelabel,
.emaillabel,
.passwordlabel,
.confirmpasswordlabel,
.signinbuttonlabel {
    display: none;
}

.namesig:focus,
.usernamesig:focus,
.emailsig:focus,
.passwordsig:focus,
.confirmpasswordsig:focus {
    border: 1px solid var(--color-red);
    outline: none;
}

.signinform {
    display: flex;
    flex-direction: column;
}



.signintext {
    color: var(--color-white);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.namesig,
.usernamesig,
.emailsig,
.passwordsig,
.confirmpasswordsig {
    font-family: "Poppins", sans-serif;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.8rem;
    background-color: var(--color-purple);
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 22px;
    text-align: left;
}

.signinbutton {
    color: var(--color-white);
    background-color: var(--color-red);
    margin-bottom: 1rem;
    border: 0px;
    border-radius: 0.8rem;
    font-size: 20px;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    align-self: flex-end;
}

.signinbutton:hover {
    background-color: var(--color-blue);
}

@media only screen and (min-width: 830px) {

    .namesig,
    .usernamesig,
    .emailsig,
    .passwordsig,
    .confirmpasswordsig {
        width: 22rem;
        height: 2rem;
    }
}

@media only screen and (max-width: 830px) {

    .namesig,
    .usernamesig,
    .emailsig,
    .passwordsig,
    .confirmpasswordsig {
        padding: 1rem 2rem;
        padding-right: 3rem;
        width: 16rem;
    }
}