:root {
    font-family: "Poppins", sans-serif;
    --color-black: #0d0221;
    --color-white: #ebebeb;
    --color-gray: #cdc6da;
    --color-blue: #6461a0;
    --color-purple: #321d59;
}
  
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
}

@media only screen and (min-width: 650px){
    
    div.post {
        min-width: 20rem;
    }
    
    div.poster {
        text-align: left;
        display: flex;
        align-items: left;
    }
    
    img#profileimg {
        border-radius: 50%;
        margin-top: 2%;
    }
    
    label#username {
        font-weight: bold;
    }
    
    article p {
        text-align: left;
    }
    
    article {
        background-color: var(--color-purple);
        text-align: center;
        margin-left: 35rem;
        margin-right: 35rem;
        border-radius: 3rem;
        padding: 1rem;
    }
    
    img#postimg {
        width: 95%;
        height: 95%;
        border-radius: 3rem;
    }

    div.post-interactions {
        display: flex;
        align-items: center;
        margin: 2% 2% 2% 0;
    }

    input#save {
        margin-left: 44%;
    }

    .comment-section {
        text-align: left;
        background-color: var(--color-purple);
        max-width: 35%;
        max-height: 35%;
        margin-left: 30%;
        margin-right: 30%;
        border-radius: 4%;
    }

    .commenter {
        padding-top: 3%;
    }

    div.interactions {
        display: flex;
        align-self: right;
        margin: 2%;
    }
}    
